<h1>Mis tareas</h1>

<table class="table table-hover">
	<thead class="thead-primary">
		<th>Tareas</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<% @tareas.each do |tarea|%>
    <tr>
    	<td><%= link_to tarea.titulo, {controller: "tareas", action: "show", id: tarea.id}%></td>
    	<td><button class="btn btn-primary">Editar</button></td>
    	<td><%= link_to "Eliminar", {controller: "tareas", action: "destroy", id: tarea.id}, method: "delete", data: {confirm: "Estas seguro?"}, class: "btn btn-danger" %></td>
     </tr>
<% end %>
</table>
